* {
  box-sizing: border-box;
}
.img-circle
{
    border-radius: 50%;
    width: 90%;
    height: 55%;
    position: relative;
    display: inline-block;
    overflow: hidden;
    margin: 0;
}
.menu {
  float:left;
  width:19%;
  text-align:center;
  min-width: 150px;
}
.menuitem {
  background: #333333;
  padding:8px;
  margin-top:7px;
}
.selecttheme
{
    background: transparent;
    color: darkgray;
    border: none;
    border-radius: 20px;
    font-size: 14px;
}
#content
{
    float: left;
    margin: auto;
    margin-bottom: 3px;
    padding: 3px;
}
.buttons
{
    background-color: transparent;
    border: none;
    width:80%;
    color: darkgray;
    padding: 8px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px;
    cursor: pointer;
    border-radius: 20px;

}
.main {
  float:left;
  width:60%;
  padding:0 20px;
}
.right {
  background-color:#e5e5e5;
  float:left;
  width:20%;
  padding:15px;
  margin-top:7px;
  text-align:center;
}
